<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
</head>

<body>
    <header>
        <img width="304px" src="/img/logo-mercado-libre.svg" alt="Logo Mercado Libre">
        <!--object width="304px" data="/img/logo-mercado-libre.svg" type="image/svg+xml">
            <img width="304px" src="/img/logo-mercadolibre.jpg" alt="Logo Mercado Liebre">
        </object--><!-- Creo que sinó se puede usar <picture> como etiqueta de HTML5 -->
        <p>Lugar para poner barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <section>
                <ul>
                    <a href=""><li>Ofertas</li></a>
                    <a href=""><li>Tiendas Oficiales</li></a>
                    <a href=""><li>Vender</li></a>
                    <a href=""><li>Ayuda</li></a>
                </ul>
            </section>
            <section>
                <ul>
                    <a href=""><li>Creá tu cuenta</li></a>
                    <a href=""><li>Ingresá</li></a>
                    <a href=""><li>Mis compras</li></a>
                </ul>
            </section>
        </nav>
    </header>

    <main>
        <img width="304px" src="/img/img-home-banner.jpg" alt="Banner">

        <section>
            <h3>Basado en tu última visita</h3>
            <img width="304px" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% off</p>
            <p><strong>Cafetera Moulinex</strong></p>
        
            <img width="304px" src="/img/img-macbook-pro-2019.jpg" alt="Notebook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
        
            <img width="304px" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy S10">
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Teléfono Móvil Samsung Galaxy S10</strong></p>
        
            <img width="304px" src="/img/img-tv-samsung-smart.jpg" alt="Televisor Smart TV Samsung">
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SamrtTv Samsung 43''</strong></p>
        </section>
    
        <section>
            <h3>Ofertas</h3>
            <img width="304px" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            <p>$6.770</p>
            <p>40% off</p>
            <p><strong>Cafetera Moulinex</strong></p>
        
            <img width="304px" src="/img/img-macbook-pro-2019.jpg" alt="Notebook">
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
        
            <img width="304px" src="/img/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy S10">
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Teléfono Móvil Samsung Galaxy S10</strong></p>
        
            <img width="304px" src="/img/img-tv-samsung-smart.jpg" alt="Televisor Smart TV Samsung">
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SamrtTv Samsung 43''</strong></p>
        </section>
    </main>

    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
        <h4>Envío gratis desde los $ 2.500</h4>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>

</body>
</html>