/*

=== COLORES ===
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

=== TIPOGRAFÍAS ===
Familia: 'Roboto'

=== TAMAÑOS TIPOGRÁFICOS ===
Párrafos en general: 12px
Titulares (Basado en tu última visita / Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

=== ÍCONOS ===
El departamento de diseño usó los íconos de este sitio:
https://fontawesome.com/icons?d=gallery&m=free
Para ello nos pidió que carguemos una hoja de estilos del mismo con ésta porción de
código, dijeron que vos sabes donde tiene que estar ubicada, sino que consultes con
tus pares o compañer@s de mayor seniority.
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

*/
/* @face-font {font-family: url('');} */  /*  Terminar */ 


/* ---------------- Estilos generales */
    * {
        margin: 0;                          /* Pedido */
        padding: 0;                         /* Pedido */
        box-sizing: border-box;             /* Pedido */
    }

    body {
        font-family: 'Roboto', sans-serif;  /* Pedido */
        background-color: #ebebeb;          /* Agregado por diferencia al resultado esperado */
    }

    h3, h4 {color: #666;}           /* Agregado para se parezca a la imagen de lo esperado */

    p { font-size: 12px; }   /* Pedido */ 

    a { text-decoration: none; }              /* Agregado por diferencia al resultado esperado */
    a:visited { color: black; }               /* Agregado por diferencia al resultado esperado */

    ul { list-style-type: none; }             /* Agregado por diferencia al resultado esperado */

    img { width: 100%; }                      /* Agregado por diferencia al resultado esperado */

    .half { width: 50%; }

    .flex { display: flex;}
    .wrap { flex-wrap: wrap; }
    .no-wrap { flex-wrap: nowrap; }
    .align-center { align-items: center; }

    .c-666 { color: #666; }
    .green {color: #39b54a;}   /* Agregado por diferencia al resultado esperado */
    .blue { color: #1259c3; }                 /* Agregado por diferencia al resultado esperado */
    .black { color: black; }                  /* Agregado por diferencia al resultado esperado */

    .btn {
        text-align: center;             /* Pedido */
        padding: 10px;                  /* Pedido */
        border: none;                   /* Agregado por diferencia al resultado esperado - ya que elegí button  */
        border-radius: 5px;             /* Pedido */
        margin: 20px 0;                 /* Pedido */
        cursor: pointer;                /* Pedido */
        color: white;                   /* Pedido */
        background-color: #0044AA;      /* Pedido */
    }

/* ---------------- Fin estilos generales */

/* ---------------- Por seccion > elementos  */
    /* --- Header */
        header { background-color: #EAC926; }     /* Agregado por diferencia al resultado esperado */

        header div.container {
            display: flex;
            flex-wrap: wrap;
        }

        header div.container div.half {
            width: 50%;
        }
        
        /* Pedido */
        /* header a img.logo { width: 50%; }        */

        /* Pedido */
        /* header input { width: 50%; }             */
        header input { 
            display: block; 
            width: 90%;
        }        /* Agregado por diferencia al resultado esperado */

        header nav { display: none; }           /* Pedido */

        header div.menu-button-content { text-align: center; }  /* Pedido */

        header div button.menu-button {
            width: 40px;                    /* Pedido */
            height: 40px;                   /* Pedido */
            font-size: 20px;                /* Pedido */
        }

        header div button.menu-button:hover { background-color: #0022AA; }  /* Pedido */

    /* --- Fin - Header */ 

    /* --- Banner */ 

        section.banner-content img {
            display: block;                 /* Pedido */
            width: 100%;                    /* Pedido */
        }

    /* --- Fin - Banner */ 

    /* --- Main */

        /* Home */
            main > section {
                display: flex;
                flex-wrap: wrap;
            }

            main section article {
                margin: 10px auto;              /* Pedido */
                background-color: white;      /* Agregado para se parezca a la imagen de lo esperado */
                padding: 15px;                  /* Pedido */
                width: 90%;                     /* Agregado para se parezca a la imagen de lo esperado */
            }
            main section article:nth-child(2) { margin-top: 0; }     /* Pedido */
            main section article:last-child { margin-bottom: 0; }   /* Pedido */

            main h3 {   
                font-size: 24px;                /* Pedido */
                margin: 20px auto;              /* Pedido */
                width: 90%;                     /* Pedido */
            }

            main section article footer { 
                border-top: 1px solid #ebebeb;  /* Pedido */
                padding-top: .5rem;
                position: relative;
                background-color: white;        /* Agregado para se parezca a la imagen de lo esperado */ 
            }

            main section article footer i {         /* Pedido */
                position: absolute;
                right: 0px;
                top: -15px;
                padding: 4px 4px 6px 6px;
                border: 1px solid green;
                border-radius: 50%;
            }

            main section article footer > div {
                padding: .5rem 0;
            }

            main section article footer span.precio {
                width: 30%;
            }
            main section article footer span.descuento {
                width: 70%;
            }

            main section article footer > p {
                padding: 12px;
            }

            .descuento, 
            p.descripcion { font-size: 16px; }    /* Pedido */

            .precio { 
                font-size: 18px;        /* Pedido */
            }                 

        /* fin - Home */

        /* Login y Register */ 

            main form { padding: 0 5%; }

            main form input {
                padding: 10px;          /* Pedido */
                margin: 20px 0;         /* Pedido */
                border: none;           /* Pedido - aúnque pidieron borde 0 */
                border-radius: 5px;     /* Pedido */
            }

            main form input[type='text'],
            main form input[type='email'],
            main form input[type='date'],
            main form input[type='password'],
            main form input[type='file'] {
                width: 100%;
            }

            main form div.intereses-container div.checkbox {
                width: 100%;
            }
            main form div.intereses-container div.checkbox > * {
                margin-left: 5%;
            }

            main form button {
                color: white;                                       /* Pedido */
                background-color: #0044AA;                          /* Pedido */
                width: 100%;                                            /* Agregado para se parezca a la imagen de lo esperado */
            }
            main form button:hover { background-color: #0022AA; }     /* Pedido */

            /* Register */ 



                main form button[type='Reset']:hover {
                    background-color: #CC1155;                          /* Pedido */
                }

                main form button[type='Reset'] {
                    background-color: #CC1155;                          /* Agregado para se parezca a la imagen de lo esperado */
                }
            /* Fin - Register */ 

        /* Fin - Login y Register */ 

        

    /* --- Fin - Main */

    /* --- Footer */
        body > footer {
            padding: 20px 5%;                   /* Pedido */
            background-color: white;            /* Agregado por diferencia al resultado esperado */
            margin-top: 10px;                   /* Agregado por diferencia al resultado esperado */
        }

        body > footer article {
            margin-bottom: 20px;                /* Pedido */
        }

        body > footer article:last-child {
            margin-bottom: 0;                   /* Pedido */
        }
    /* --- Fin - Footer */

/* ---------------- Fin - Por seccion > elementos  */

/* ---------------- Media Querys  */

    /* Media Querys */

/* ---------------- Fin - Media Querys  */