/*

=== COLORES ===
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

=== TIPOGRAFÍAS ===
Familia: 'Roboto'

=== TAMAÑOS TIPOGRÁFICOS ===
Párrafos en general: 12px
Titulares (Basado en tu última visita / Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

=== ÍCONOS ===
El departamento de diseño usó los íconos de este sitio:
https://fontawesome.com/icons?d=gallery&m=free
Para ello nos pidió que carguemos una hoja de estilos del mismo con ésta porción de
código, dijeron que vos sabes donde tiene que estar ubicada, sino que consultes con
tus pares o compañer@s de mayor seniority.
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

*/
/* @face-font {font-family: url('');} */  /*  Terminar */ 


/* ---------------- Estilos generales */
    * {
        margin: 0;                          /* Pedido */
        padding: 0;                         /* Pedido */
        box-sizing: border-box;             /* Pedido */
    }

    body {
        font-family: 'Roboto', sans-serif;  /* Pedido */
        background-color: #ebebeb;          /* Agregado por diferencia al resultado esperado */
    }

    h3, h4 {color: #666;}           /* Agregado para se parezca a la imagen de lo esperado */

    p { font-size: 12px; }   /* Pedido */ 

    a { text-decoration: none; }              /* Agregado por diferencia al resultado esperado */
    a:visited { color: black; }               /* Agregado por diferencia al resultado esperado */

    ul { list-style-type: none; }             /* Agregado por diferencia al resultado esperado */

    img { width: 100%; }                      /* Agregado por diferencia al resultado esperado */

    .half { width: 50%; }

    .flex { display: flex;}
    .wrap { flex-wrap: wrap; }
    .no-wrap { flex-wrap: nowrap; }
    .align-center { align-items: center; }

    .c-666 { color: #666; }
    .green {color: #39b54a;}   /* Agregado por diferencia al resultado esperado */
    .blue { color: #1259c3; }                 /* Agregado por diferencia al resultado esperado */
    .black { color: black; }                  /* Agregado por diferencia al resultado esperado */

    .btn {
        text-align: center;             /* Pedido */
        padding: 10px;                  /* Pedido */
        border: none;                   /* Agregado por diferencia al resultado esperado - ya que elegí button  */
        border-radius: 5px;             /* Pedido */
        margin: 20px 0;                 /* Pedido */
        cursor: pointer;                /* Pedido */
        color: white;                   /* Pedido */
        background-color: #0044AA;      /* Pedido */
    }

/* ---------------- Fin estilos generales */

/* ---------------- Por seccion > elementos  */
    /* --- Header */
        header { background-color: #EAC926; }     /* Agregado por diferencia al resultado esperado */

        header div.header-content {
            padding: 6%;
        }

        header div.header-content div.logo-container a img {
            width: 90%;
        }

        header div.header-content div.container {
            display: flex;
            flex-wrap: wrap;
        }

        /* Pedido */
        /* header a img.logo { width: 50%; }        */

        /* Pedido */
        /* header input { width: 50%; }             */

        header div.search-container {
            position: relative;
        }

        header div.search-container input { 
            padding: 10px;         
            border: none;           
            border-radius: 5px;    
            display: block; 
            width: 100%;
        }

        header div.search-container i {
            font-size: 14px;
            position: absolute;
            right: 1%;
            top: 16%;
            padding: 5px;
            background-color: white;
            color: #666;
        }

        header div.header-content > p {
            text-align: center;
            margin-top: 20px;
        }

        header nav { display: none; }       /* Pedido */

            .menu-left, .menu-right {
                width: 50%;
            }

            .menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
            }
                .menu a { 
                    margin-left: 1rem; 
                    font-size: .8rem;
                }
            .menu-right-content { justify-content: flex-end; }

        header div.menu-button-content { text-align: center; }  /* Pedido */

        header div button.menu-button {
            width: 40px;                    /* Pedido */
            height: 40px;                   /* Pedido */
            font-size: 20px;                /* Pedido */
            margin-bottom: 0;
        }

        header div button.menu-button:hover { background-color: #0022AA; }  /* Pedido */

    /* --- Fin - Header */ 

    /* --- Banner */ 

        section.banner-content img {
            display: block;                 /* Pedido */
            width: 100%;                    /* Pedido */
        }

    /* --- Fin - Banner */ 

    /* --- Main */

        /* Home */
            main > section {
                display: flex;
                flex-wrap: wrap;
            }

            main section article {
                margin: 10px 2rem;              /* Pedido */
                background-color: white;      /* Agregado para se parezca a la imagen de lo esperado */
                padding: 15px;                  /* Pedido */
                width: 100%;
            }
            main section article:nth-child(2) { margin-top: 0; }     /* Pedido */
            main section article:last-child { margin-bottom: 0; }   /* Pedido */

            main section article:hover {
                box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 );
            }

                .fa-truck {
                    transition: transform 1s;
                }
                main section article:hover .fa-truck {
                    transform: rotateZ(-90deg);
                }

            main h3 {   
                font-size: 24px;                /* Pedido */
                margin: 20px 2rem;              /* Pedido */
                width: 100%;                     /* Pedido */
            }

            main section article footer { 
                border-top: 1px solid #ebebeb;  /* Pedido */
                padding-top: .5rem;
                position: relative;
                background-color: white;        /* Agregado para se parezca a la imagen de lo esperado */ 
            }
            
            main section article footer div.description-content {
                padding-top: .5rem;
                display: none;
                /* transition: all 500ms; */
            }

            main section article:hover footer div.description-content {
                display: block;
            }

            main section article footer i {         /* Pedido */
                position: absolute;
                right: 0px;
                top: -15px;
                padding: 6px 4px;
                border: 1px solid green;
                border-radius: 50%;
            }

            main section article footer > div {
                padding: .5rem 0;
            }

            main section article footer span.precio {
                width: 30%;
            }
            main section article footer span.descuento {
                width: 70%;
            }

            main section article footer > p {
                padding: 12px;
            }

            .descuento, 
            p.descripcion { font-size: 16px; }    /* Pedido */

            .precio { 
                font-size: 18px;        /* Pedido */
            }                 

        /* fin - Home */

        /* Login y Register */ 

            main form { padding: 0 5%; }

            main form input {
                padding: 10px;          /* Pedido */
                margin: 20px 0;         /* Pedido */
                border: none;           /* Pedido - aúnque pidieron borde 0 */
                border-radius: 5px;     /* Pedido */
            }

            main form input[type='text'],
            main form input[type='email'],
            main form input[type='date'],
            main form input[type='password'],
            main form input[type='file'] {
                width: 100%;
            }

            main form div.intereses-container div.checkbox {
                width: 100%;
            }
            main form div.intereses-container div.checkbox > * {
                margin-left: 5%;
            }

            main form button {
                color: white;                                       /* Pedido */
                background-color: #0044AA;                          /* Pedido */
                width: 100%;                                            /* Agregado para se parezca a la imagen de lo esperado */
            }
            main form button:hover { background-color: #0022AA; }     /* Pedido */

            /* Register */ 



                main form button[type='Reset']:hover {
                    background-color: #CC1155;                          /* Pedido */
                }

                main form button[type='Reset'] {
                    background-color: #CC1155;                          /* Agregado para se parezca a la imagen de lo esperado */
                }
            /* Fin - Register */ 

        /* Fin - Login y Register */ 

        

    /* --- Fin - Main */

    /* --- Footer */
        body > footer {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            padding: 2rem 5%;                   /* Pedido */
            margin-top: 10px;                   /* Agregado por diferencia al resultado esperado */
            background-color: white;            /* Agregado por diferencia al resultado esperado */
        }

        body > footer article {
            padding-top: 2rem;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 20px;                /* Pedido */
            text-align: center;                /* Pedido */
        }

        body > footer article i {
            font-size: 2em;
            margin-bottom: 10px;
        }

        body > footer article:last-child {
            margin-bottom: 0;                   /* Pedido */
        }
    /* --- Fin - Footer */

/* ---------------- Fin - Por seccion > elementos  */

/* ---------------- Media Querys  */

    /* Media Querys */

    @media only screen and ( min-width: 768px ) {

        header div.header-content {
            padding: 1.5rem 2rem 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
            header div.header-content div.container { 
                width: 64%; 
                align-items: center;
            }
                .logo-container { width: 30%; }
                .search-container { width: 70%; }
                header div.header-content > p { 
                    width: 34%; 
                    margin-top: 0;
                }
        
        header nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 2.5rem;
        }

        .menu-button-content { 
            display: none;
        }

        main h3 {
            margin: 10px 1rem;
        }

        main section {
            padding: 0 4%;
            align-items: baseline;
            justify-content: space-between;
        }

        main section article {
            width: 45%;
            margin: 10px 1rem;

        }
    }

    @media only screen and ( min-width: 1024px ) {
        header div.header-content { padding: .5rem 2rem 1rem; }

        main section {
            margin-bottom: 15%;
        }

        main section article {
            width: 22%;
        }
        
        body > footer {
            flex-direction: row;
        }

        body > footer article {
            width: 33%;
        }
    }

/* ---------------- Fin - Media Querys  */